
    

    .list {
        list-style: none;
    }
    .link {
        text-decoration: none;
    } 
    
    
    /* Header */

.page-header{
    width: 1440px;
    height: 72px;
}



.logo-type {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1,16;
color: #2E2F42;
}
    
   
   
    .menu-link {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1,5;
color: #2E2F42;
}


  .address-mailto {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1,5;
color: #434455;
} 

.contact-phone-number {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1,5;
color: #434455;
}

/* Hero image*/

.section-hero {
    background: #2E2F42;
    
}  

.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
    width: 1440px;
    height: 600px;

}
.service-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
color: #FFFFFF;
background: #4D5AE5;
cursor: pointer;
width: 169px;
height: 56px;

}

